name: CI

on:
  push:
  pull_request:
    branches: [main]

jobs:
  maya:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        include:
         - maya: "2020"
           pip: "2.7/get-pip.py"
         - maya: "2022"
           pip: "get-pip.py"

    container: mottosso/maya:${{ matrix.maya }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Check environment
        run: |
          pwd
          ls -al
          mayapy --version

      - name: Setup environment
        run: |
          wget https://bootstrap.pypa.io/pip/${{ matrix.pip }}
          mayapy get-pip.py --user
          mayapy -m pip install --user \
            -r requirements.txt \
            -r requirements-dev.txt

      - name: Run unittests
        run: mayapy scripts/run_tests.py -v

  documentation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2

      - name: Check environment
        run: |
          pwd
          ls -al
          python --version

      - name: Setup environment
        run: |
          python -m pip install \
          -r requirements.txt \
          -r docs/requirements.txt

      - name: Build documentation
        run: python scripts/build_docs.py -v
