name: main-workflow

on:
  push:
  pull_request:
    branches: [main]

jobs:
  maya:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        include:
         - maya: "2020"
           pip: "2.7/get-pip.py"
         - maya: "2022"
           pip: "get-pip.py"

    container: mottosso/maya:${{ matrix.maya }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup environment
        run: |
          wget https://bootstrap.pypa.io/pip/${{ matrix.pip }}
          mayapy get-pip.py --user
          mayapy -m pip install --user \
            -r requirements.txt \
            -r requirements-dev.txt \
            -r docs/requirements.txt

      - name: Run unittests
        run: |
          pwd
          ls -al
          mayapy --version
          mayapy run_tests.py

      - name: Build documentation
        run: |
          pwd
          ls -al
          mayapy --version
          mayapy -m sphinx docs/ docs/_build/ -vE
